@model List<PostResponse>

@{
    Layout = "_Layout";
}

<div class="w-100 mw-100">
    <div class="d-flex justify-content-start w-100">
        <div class="button">
            <a asp-controller="PersonalBlog" asp-action="CreatePost">Create post</a>
        </div>
    </div>
    <div class="w-100">
            @foreach (var postResponse in Model)
            {
                @await Component.InvokeAsync("Post", new { post = postResponse })
            }
    </div>

</div>