@model PostResponse

@{
    Layout = null;
}

<div class="post w-75 border border-dark rounded mb-3 mt-3">
    <div class="post-header d-flex justify-content-between align-items-center">
        <h1>@Model.Title</h1>
        <div class="post-header-options d-flex justify-content-around h-100 w-25">
            <a asp-controller="PersonalBlog" asp-action="EditPost" asp-route-id="@Model.Id">
                <i title="Edit" class="fa-2x fa-solid fa-pen-to-square"></i>
            </a>

            <i title="Delete" class="fa-2x fa-solid fa-trash text-danger">

            </i>
        </div>
    </div>
    <hr class="w-75 m-auto"/>
    <p>@Model.Content</p>
    <hr class="w-75 m-auto"/>
    @foreach (var tag in Model.Tags)
    {
        <span>@tag.Name</span>
    }
</div>